.main{
    margin-top: 100px;
    &__title{
        text-transform: lowercase;
        font-family: 'gramatika_regular';



        font-size: 48px;
        line-height: 72px;
        // transform: translateX(-1000px);
        animation: show_title 1s ease;
    }
}
@keyframes show_title {
    from{
        transform: translateX(-100px);
        opacity: 0;
    }
    to{
        transform: translateX(0px);
        opacity: 1;
    }
}