.main{
    margin-top: 100px;
    &__title{
        text-transform: lowercase;
        font-family: 'gramatika_regular';
        font-size: 48px;
        line-height: 72px;
        // transform: translateX(-1000px);
        animation: show_title 1s ease;
    }
    &__content-title{
        text-transform: lowercase;
        font-family: 'gramatika_regular';
        font-size: 36px;
        line-height: 48px;
        margin-bottom: 100px;
    }
    &__content-wrapper{
        display: flex;
        justify-content: center;
        gap: 60px;
    }
    &__content-column{
        display: flex;
        flex-direction: column;
        gap: 60px;

        flex-basis: 40%;

        &:nth-child(2){
            padding-top: 100px;
        }
    }
    &__card{
        padding: 40px;
        background-color: $light-black;
        border-radius: 40px;

        display: flex;
        flex-direction: column;
        gap: 40px;
        position: relative;
        overflow: hidden;
        
        -webkit-box-shadow: 0px 0px 42px 13px rgba(0,0,0,0.38);
-moz-box-shadow: 0px 0px 42px 13px rgba(0,0,0,0.38);
box-shadow: 0px 0px 42px 13px rgba(0,0,0,0.38);

        border: 1px solid rgba(38, 196, 133, 0.25);
    }
    &__card-image{
        z-index: 1;
    }
    &__card-gradient{
        overflow: hidden;
        position: absolute;
        width: 80%;
        height: 40%;
        top: 50px;
        left: 40px;
        background: rgb(5,0,172);
        background: linear-gradient(180deg, rgba(5,0,172,1) 37%, rgba(199,0,201,1) 52%, rgba(255,255,255,1) 64%);
        filter: blur(50px);
        opacity: 0.5;
        z-index: 0;
    }
    &__card-title{
        text-transform: lowercase;
        font-family: 'gramatika_regular';
        font-size: 24px;
        color: $white;
        line-height: 36px;
        font-weight: 600;
    }
    &__card-text{
        text-transform: lowercase;
        font-family: 'gramatika_regular';
        font-size: 16px;
        line-height: 24px;
        font-weight: 400;
        color: $light-grey;
    }
    &__card-img{
        border-radius: 20px;
    }
}
@keyframes show_title {
    from{
        transform: translateX(-100px);
        opacity: 0;
    }
    to{
        transform: translateX(0px);
        opacity: 1;
    }
}