<main class="main">
    <div class="container">
        <div class="main__greetings">
            
            <h1 class="main__title">
                i'm vladimir ✌️
            </h1>
            <h1 class="main__title">
                frontend developer
            </h1>
        </div>
        
    </div>
    
    <!-- <br><br><br><br><br><br><br><br><br><br> -->
    <div class="main__content">
        <div class="container">
            <h2 class="main__content-title">
                Sites, i've made - here:
            </h2>
            <div class="main__content-wrapper">
                <div class="main__content-column">
                    <a href="#" class="main__card-link">
                        <div class="main__card">
                        
                            <div class="main__card-gradient"></div>
                            <div class="main__card-image">
                                <img src="images/preview.jpg" alt="preview" class="main__card-img">
                            </div>
                            <h5 class="main__card-title">Analytics</h5>
                            <p class="main__card-text">Landing, responsive for smartphones, SCSS, HTML, JS</p>
                    
                        </div>
                    </a>
                    <a href="#" class="main__card-link">
                        <div class="main__card">
                            <div class="main__card-gradient"></div>
                            <div class="main__card-image">
                                <img src="images/preview2.jpg" alt="preview" class="main__card-img">
                            </div>
                            <h5 class="main__card-title">cosmologik</h5>
                            <p class="main__card-text">multipage website, responsive for smartphones, SCSS, HTML, JS</p>
                        </div>
                    </a>
                </div>
                <div class="main__content-column">
                    <a href="#" class="main__card-link">
                        <div class="main__card">
                            <div class="main__card-gradient gradient-white-green"></div>
                            <div class="main__card-image">
                                <img src="images/preview3.jpg" alt="preview" class="main__card-img">
                            </div>
                            <h5 class="main__card-title">furniture dahnevich</h5>
                            <p class="main__card-text">Landing, responsive for mobile devices, SCSS, HTML, JS</p>
                        </div>
                    </a>
                    <a href="#" class="main__card-link">    
                        <div class="main__card">
                            <div class="main__card-gradient gradient-orange-white"></div>
                            <div class="main__card-image">
                                <img src="images/preview4.jpg" alt="preview" class="main__card-img">
                            </div>
                            <h5 class="main__card-title">gym Landing</h5>
                            <p class="main__card-text">Landing, desktop only, SCSS, HTML, JS</p>
                        </div>
                    </a>
                </div>
                
                <!-- <div class="main__card">
                    <div class="main__card-image">
                        <img src="images/preview.jpg" alt="preview" class="main__card-img">
                    </div>
                    <h5 class="main__card-title">Analytics</h5>
                    <p class="main__card-text">description description descriptrion</p>
                </div> -->
            </div>
        </div>
    </div>
    <div class="main__contacts">
        <div class="container">
            <div class="main__contacts-wrapper">
                <h4 class="main__contacts-title">
                    you can contact me with:
                </h4>
                <div class="main__contacts-box">
                    
                </div>
            </div>
            
        </div>
    </div>
    
</main>
